.root {
  display: "flex";
}

.container {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 20px;
}

.coffeebreak {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 5%;
  left: 7%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: none;
  color: white;
  font-size: 18px;
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: medium;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  padding: 12px 24px;
  border: 1px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  height: auto;
}

.spacing {
  margin-right: 10px;
}
